<div class="header" header></div>
<div id="ctn">
  <div class="cts">
    <div class="cts_btm clearfix">
      <div class="cts_btm_in">

        <!-- content -->
        <div class="panel panel-default mt10">
          <div class="panel-heading">
            <h3 class="panel-title">접근이 제한됨</h3>
          </div>
          <div class="panel-body">
            <p>로그아웃한 이후 다시 시도해주세요.</p>
            <ul>
              <li><a href="" data-ng-click="_goBack()">이전 화면으로 이동</a></li>
              <li><a ui-sref="main">첫 화면으로 이동</a></li>
            </ul>
          </div>
        </div>
        <!-- //content -->

      </div>
    </div>
  </div>
</div>
<hr />
<div class="footer" footer></div>

