page-modal_thank_you_note {
}

.thank_you_note-popover .popover-content {
  width:80%!important;
  background-color:transparent!important;
  box-shadow:none!important;
  ion-content {
    margin-top: 12%;
    border-radius: 5px;
    padding:5%;
    p {
      margin-top: 12%;
    }
  }
  img {
    width:25%;
    position:absolute;
    z-index:10!important;
    left: 38%;
  }
  .scroll-content {
    overflow-y:hidden!important;
  }
}
