page-tabs {

}

/*
// .tab-button-icon.icon.icon-md.ion-md-tab-live {
.tab-live {
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position-x: center;
  background-image: url("../assets/images/ic_home.png");
}
.tab-replay {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-image: url("../assets/images/replay.png");
}
*/
