<div>test

  <div>
    <span>store list</span>
    <button data-ng-click="goStoreList()">go</button>
  </div>
  <br/>
  <div>
    <span>store nav</span>
    <input type="text" id="southwestLat" name="southwestLat" ng-model="nav.southwestLat" placeholder="southwestLat">
    <input type="text" id="northeastLat" name="northeastLat" ng-model="nav.northeastLat" placeholder="northeastLat">
    <input type="text" id="southwestLng" name="southwestLng" ng-model="nav.southwestLng" placeholder="southwestLng">
    <input type="text" id="northeastLng" name="northeastLng" ng-model="nav.northeastLng" placeholder="northeastLng">
    <button data-ng-click="goStoreNav()">go</button>
  </div>
  <br/>
  <div>
    <span>store item</span>
    <input type="text" id="seq" name="seq" ng-model="item.seq" placeholder="seq">
    <button data-ng-click="goStoreItem()">go</button>
  </div>
  <br/>
  <div>
    <span>timeline list</span>
    <input type="text" id="shopId" name="shopId" ng-model="timeline.shopId" placeholder="shopId">
    <button data-ng-click="goTimelineList()">go</button>
  </div>
</div>
